header {
    margin: 0;
    padding-top: 40px;
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 30px;
    text-shadow: black 2px 5px;
    background: rgb(25, 25, 90);
    height: 80px;
}

main {
    text-align: center;
    background: url(background.jpg);
}

.contCentral {
    padding-top: 15px;
    margin-bottom: 5px;
}

textarea {
    font-size: 16px;
    border: 2px solid black;
    border-radius: 10px;
}

#txtOut {
    pointer-events: none;
    text-shadow: 1px 1px 2px black;
    background-color: lightblue;
    background-image: url(img1.png);
    background-size: contain;
}

.leyenda {
    padding: 3px 3px;
    background-color: lightblue;
    border: 2px solid black;
    border-radius: 10px;
}
.boton0 {
    margin: 10px 10px;
    font-size: 16px;
    width: 150px;
    height: 60px;
    border-radius: 10px;
    color: azure;
    background-color: rgb(32, 32, 112);
}
.boton1 {
    margin: 10px 10px;
    font-size: 16px;
    width: 150px;
    height: 60px;
    border-radius: 10px;
    color: azure;
    background-color: rgb(32, 32, 112);
}

.boton2 {
    margin: 10px 10px;
    font-size: 16px;
    width: 150px;
    height: 60px;
    border-radius: 10px;
    background-color: lightcyan;
}

.boton3 {
    margin: 10px 10px;
    font-size: 16px;
    width: 150px;
    height: 60px;
    border-radius: 10px;
    color: azure;
    background-color: black;
}

footer {
    padding-top: 20px;
    margin: 0;
    height: 80px;
    text-align: center;
    color: white;
    font-size: 20px;
    font-weight: bold;
    background: rgb(25, 25, 90);
}